{% load i18n %}
<div id="article-content" class="article">
    <h2 class="title">{% trans article.title %}</h2>

    {{ article.rendered_content|safe }}
</div>

{% for att in article.attachments.all %}
{% if forloop.first %}
        <h4>{{att.filename}} - {{att.attachment.size|filesizeformat}}</h4>
<!--        <audio src="{{att.attachment.url}}" type="audio/mp3" controls />-->
        <div id="player"></div>
        <script type="text/javascript">AudioPlayer.embed("player", {soundFile: "{{att.attachment.url}}"});  </script>

{% block meta-keywords %}{{ article.keywords|escape }}{% endblock %}

{% endif %}
{% endfor %}

