<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>{% block title %} {% endblock title %}</title>

  <script type="text/javascript" src="/assets/js/audio-player.js"></script>
  <script type="text/javascript">
                AudioPlayer.setup("/assets/swf/player.swf", {  
                   width: 290,
                   transparentpagebg: "yes",
               }); 
  </script>
  <style type="text/css">    
  </style>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
    <h1 class="logo">Kaitlin and Caitlin <span>In the Morning at Night</span>
    </h1>
    <div class="content">

    {% block meta-keywords %}{% endblock %} 
    {% block meta-description %}{% endblock %} 
    {% block extra-head %}{% endblock %} 
    {% block content %}{% endblock content %} 
    {% block footer %}{% endblock footer %}

    </div>

</div>
<footer>
    <div class="wrapper">
    Content and such!
    </div>
</footer>

</body>
</html>
